<% title "Log In" %>

<div class="page-header">
  <span class="pull-right">
    Don't have an account? <%= link_to "Sign up!", signup_path, class: "btn btn-primary" %>
  </span>
  <h1>IDENTIFY YOURSELF</h1>
</div>
<div class="row">
 <%= render "form" %>
</div>
