<% title "Sign up", "JOIN THE PARTY" %>
<div class="row">
  <div class="well span3">
    <%= render 'form' %>
  </div>
  <div class="span6">
    <p>Already have an account? <%= link_to "Log in", login_path, class: "btn" %></p>
  </div>
</div>