// Place all the styles related to the Nuts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbarBackground: #663300;
$navbarBackgroundHighlight: lighten(#663300, 8%);
$navbarLinkColor: white;
$navbarLinkColorHover: darken(whiteSmoke, 5%);

@import 'bootstrap';
@import 'font-awesome';


body {
  font-family: "Helvetica Neue", Arial;
  margin-top: 50px;
  @media (max-width: 480px) { margin-top: 80px; }
}

a { color: #663300; }
a:hover { color: darken(#663300, 5%); }

* { box-sizing: border-box; }

// fancy class for centering a fluid span
.row-fluid [class*="span"].centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
}

[class^="icon-"], [class*=" icon-"] { background-image: none !important;}

// make an element full-width
.full {
  width: 100%;
  height: auto;
}

h1 { text-transform: uppercase; }

input.giant {
  font-size: 30px;
  line-height: 35px;
  height: auto !important;
}

.nav { 
	input { box-sizing: initial; }
	button { margin: 0 10px; }
	@media (max-width: 768px) {
		span { display: none;}
		> li > a { padding: 10px 12px !important; }
		button { margin-left: 5px; }
	}
}

.title {
	text-transform: uppercase;
	font-family: Georgia, serif;
}

li { display: table-row; }
// standard formatting for a nut
.nut {
	display: inline-block;
	border: 1px solid #999;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	padding-left: 10px;
	background: lighten(#996633, 48%);
	max-width: 100%;
	position: relative;

	// make all direct child elements align vertically by center.
	// layout as table cells so they'll automatically adapt to fill
	// the space and wrap as needed.
	> * { 
		vertical-align: middle; 
		display: table-cell;
	}

	.title {
		text-align: right;
		font-size: 24px;
		line-height: 24px;
	}
	.icon {
		font-size: 30px;
		padding: 0 8px; 
		i { width: 1em; }
	}
	.body {
		font-size: 16px;
	}
	.rating {
		padding-left: 10px; 
		width: 85px;
		text-align: right;
		* { vertical-align: middle; }
		.label { 
			font-size: 20px; 
			min-width: 30px;
			display: inline-block;
			text-align: center;
			padding: 8px 5px;
		}
	}

	@media (max-width: 480px) {
		// on mobile, move title to top of nut and push down rest of text.
		// this nicely promotes title to its own line while letting everything 
		// else still flow as a table.
		padding-top: 38px;
		.title { position: absolute; top: 10px; }
		.icon { padding-left: 0; }
	}
}

// styles for viewing a single shell and all its nuts
.choices {
	border: 3px solid #aaa;
	border-radius: 10px;
	padding: 5px 15px;
	margin: 20px;
	
	small { display: inline-block; }

	// box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
	// list all nuts with some clever :before text
	ul {
		li:before {
			font-size: 24px;
			font-weight: bold;
			vertical-align: middle;
			padding-right: 10px;
			width: 40px;
			display: table-cell;
			text-align: right;
			margin-left: -50px;
		}
		li:first-child:before { content: "IS"; }
		li + li:before { content: "OR"; }

		button { margin: 5px 4px; }
	}

	@media (max-width: 768px) {
		width: 100% !important;
		.nut { width: auto; }
	}
}
// display classes for ul - as an inline grid or a list
ul.grid {
	li {
		display: inline-block;
	}
}

.modal {
	form, input { 
		margin: 0; 
		text-transform: uppercase;
	}
	textarea { 
		max-width: 100%; 
		max-height: 128px;
		font-size: 16px;
		line-height: 24px;
	}
}